{
  "openapi": "3.0.0",
  "info": {
    "title": "eTax Mobile PWA API",
    "description": "API documentation for eTax Mobile Progressive Web App",
    "version": "1.0.0",
    "contact": {
      "name": "Development Team",
      "email": "dev@etax.vn"
    }
  },
  "servers": [
    {
      "url": "https://us-central1-anhbao-373f3.cloudfunctions.net",
      "description": "Production server"
    },
    {
      "url": "http://localhost:5001/anhbao-373f3/us-central1",
      "description": "Local development"
    }
  ],
  "security": [
    {
      "bearerAuth": []
    }
  ],
  "paths": {
    "/api/login": {
      "post": {
        "summary": "User login",
        "description": "Authenticate user with MST and password",
        "tags": ["Authentication"],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/LoginRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Login successful",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/LoginResponse"
                }
              }
            }
          },
          "401": {
            "description": "Invalid credentials",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/api/users": {
      "get": {
        "summary": "Get all users",
        "description": "Retrieve list of all users (Admin only)",
        "tags": ["Admin", "Users"],
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "Users retrieved successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/UsersResponse"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden - Admin access required"
          }
        }
      },
      "post": {
        "summary": "Create new user",
        "description": "Create a new user account (Admin only)",
        "tags": ["Admin", "Users"],
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateUserRequest"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "User created successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/UserResponse"
                }
              }
            }
          },
          "400": {
            "description": "Invalid input data"
          }
        }
      }
    },
    "/api/templates": {
      "get": {
        "summary": "Get all templates",
        "description": "Retrieve list of PDF templates (Admin only)",
        "tags": ["Admin", "Templates"],
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "Templates retrieved successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TemplatesResponse"
                }
              }
            }
          }
        }
      },
      "post": {
        "summary": "Create new template",
        "description": "Create a new PDF template (Admin only)",
        "tags": ["Admin", "Templates"],
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateTemplateRequest"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Template created successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TemplateResponse"
                }
              }
            }
          }
        }
      }
    },
    "/api/generatePdf": {
      "post": {
        "summary": "Generate PDF",
        "description": "Generate PDF document from template and data",
        "tags": ["PDF", "Documents"],
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/GeneratePdfRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "PDF generated successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GeneratePdfResponse"
                }
              }
            }
          },
          "400": {
            "description": "Invalid request data"
          }
        }
      }
    }
  },
  "components": {
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    },
    "schemas": {
      "LoginRequest": {
        "type": "object",
        "required": ["mst", "password"],
        "properties": {
          "mst": {
            "type": "string",
            "description": "Mã số thuế",
            "example": "00109202830"
          },
          "password": {
            "type": "string",
            "description": "User password",
            "example": "password123"
          }
        }
      },
      "LoginResponse": {
        "type": "object",
        "properties": {
          "success": {
            "type": "boolean",
            "example": true
          },
          "user": {
            "$ref": "#/components/schemas/User"
          },
          "token": {
            "type": "string",
            "description": "JWT token",
            "example": "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9..."
          }
        }
      },
      "ErrorResponse": {
        "type": "object",
        "properties": {
          "success": {
            "type": "boolean",
            "example": false
          },
          "error": {
            "type": "string",
            "example": "Invalid credentials"
          }
        }
      },
      "User": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "example": "user123"
          },
          "name": {
            "type": "string",
            "example": "Nguyễn Văn A"
          },
          "email": {
            "type": "string",
            "example": "nguyenvana@example.com"
          },
          "mst": {
            "type": "string",
            "example": "00109202830"
          },
          "role": {
            "type": "string",
            "enum": ["user", "admin"],
            "example": "user"
          }
        }
      },
      "UsersResponse": {
        "type": "object",
        "properties": {
          "users": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/User"
            }
          }
        }
      },
      "UserResponse": {
        "type": "object",
        "properties": {
          "user": {
            "$ref": "#/components/schemas/User"
          }
        }
      },
      "CreateUserRequest": {
        "type": "object",
        "required": ["name", "email", "password"],
        "properties": {
          "name": {
            "type": "string",
            "example": "Nguyễn Văn A"
          },
          "email": {
            "type": "string",
            "example": "nguyenvana@example.com"
          },
          "password": {
            "type": "string",
            "example": "password123"
          },
          "role": {
            "type": "string",
            "enum": ["user", "admin"],
            "default": "user"
          },
          "mstList": {
            "type": "array",
            "items": {
              "type": "string"
            },
            "example": ["00109202830", "00109202831"]
          }
        }
      },
      "TemplatesResponse": {
        "type": "object",
        "properties": {
          "templates": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Template"
            }
          }
        }
      },
      "Template": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "example": "template123"
          },
          "name": {
            "type": "string",
            "example": "Giấy nộp tiền vào NSNN"
          },
          "htmlTemplate": {
            "type": "string",
            "description": "HTML template with Handlebars placeholders"
          },
          "type": {
            "type": "string",
            "example": "payment_receipt"
          },
          "isActive": {
            "type": "boolean",
            "default": true
          },
          "isDefault": {
            "type": "boolean",
            "default": false
          }
        }
      },
      "TemplateResponse": {
        "type": "object",
        "properties": {
          "template": {
            "$ref": "#/components/schemas/Template"
          }
        }
      },
      "CreateTemplateRequest": {
        "type": "object",
        "required": ["name", "htmlTemplate"],
        "properties": {
          "name": {
            "type": "string",
            "example": "Giấy nộp tiền vào NSNN"
          },
          "htmlTemplate": {
            "type": "string",
            "description": "HTML template with {{fieldName}} placeholders"
          },
          "isActive": {
            "type": "boolean",
            "default": true
          },
          "isDefault": {
            "type": "boolean",
            "default": false
          }
        }
      },
      "GeneratePdfRequest": {
        "type": "object",
        "required": ["templateId", "data"],
        "properties": {
          "templateId": {
            "type": "string",
            "example": "template123"
          },
          "data": {
            "type": "object",
            "description": "Data object to populate template",
            "example": {
              "referenceCode": "REF123456",
              "taxpayerName": "Nguyễn Văn A",
              "amount": "1,000,000 VND",
              "paymentDate": "2025-10-30"
            }
          }
        }
      },
      "GeneratePdfResponse": {
        "type": "object",
        "properties": {
          "success": {
            "type": "boolean",
            "example": true
          },
          "pdfUrl": {
            "type": "string",
            "example": "https://storage.googleapis.com/bucket/pdf123.pdf"
          },
          "downloadUrl": {
            "type": "string",
            "example": "https://functions.net/download/pdf123"
          }
        }
      }
    }
  }
}
